.background-page{
    background-size: cover;
    min-height: 90vh;
}



@media (max-witdh:768px){
    .background-page{
        min-height: 60vh;
    }

    .text-head{
        font-size: calc(1.525rem + 3.3vw);
    }
}